
:root {
    --primary-1: #75BF7A;
    --primary-2: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}

/* nav bar css start */

header {
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
}

nav {
    height: 174px;
    display: flex;
}
nav img {
    width: 180px;
    height: 51px;
    margin: 85px 0px 38px 80px;
}

.nav-links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 27%;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
    margin-top: 100px;
    margin-bottom: 51px;
    padding-right: 46px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-style: Medium;
    font-size: 17.16px;
    line-height: 100%;
    transition: 0.30s;
}

.nav-links ul li a:hover {
    color: var(--primary-1);
}

button {
    width: 182px;
    height: 50px;
    border: none;
    border-radius: 5.95px;
    margin-top: 50px;
    margin-left: 1px;
    background-color: var(--primary-1);
    color: var(--primary-2);
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    padding: 12px 27px 11px 28px;
}

.nav-links span  {
    display: none;
}



/* nav bar css end */


/* hero section css start  */

.hero-section {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.hero-section-text,
.hero-section-img {
    flex: 1 1 400px;
}

.hero-section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-text h2 {
    width: 557px;
    margin-top: 70px;
    margin-left: 80px;
    font-size: 50.73px;
    font-weight: 700;
    font-style: ExtraBold;
    line-height: 65.91px;
}

.hero-section-text p {
    width: 548px;
    margin-top: 27px;
    margin-left: 80px;
    font-size: 24px;
    font-style: Medium;
    font-weight: 500;
    line-height: 28px;
    color: #9E9DA2;
}

.btn-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 35px;
}

.btn-box button {
    width: 235px;
    height: 66.77px; 
    background-color: #000000;
}

.i-set1 {
    width: 30.78px;
    margin-right: 10px;
    font-size: 27px;
}

.i-set1 span , .i-set2 span {
    font-weight: 800;
    font-style: ExtraBold;
}

.i-set2 {
    width: 41px;
    margin-right: 10px;
    font-size: 27px;
}

.hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-img img {
    width: 75.4%;
    height: auto;
    margin-top: 54.83px;
}














































































@media (min-width: 1025px) and (max-width: 1166px) {

    .nav-links ul li {
    padding-right: 30px;
 }

   .nav-links ul li a {
    font-weight: 549 ;
    font-style: Medium;
    font-size:  14.24px;
    line-height: 100%;
 }

   button {
    font-weight: 500;
    font-size: 22px;
 }

 .btn-box {
    max-width: 76%;
    margin-left: 0px;
}

}


@media (min-width: 768px) and (max-width: 1024px) {

   .nav-links ul ,  .nav-links button {
    display: none;
    }

  .nav-links span  {
    display: block;
    margin-top: 60px;
  }

  .btn-box {
    max-width: 58%;
    flex-wrap: wrap;
    /* display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 35px; */
}
}

@media (min-width: 0px) and (max-width: 767px) {

    .nav-links ul ,  .nav-links button {
    display: none;
    }

   .nav-links span  {
    display: block;
    margin-top: 60px;
  }

   .hero-section-text , .hero-section-img {
    flex:0 0 100%;
  }

  .btn-box {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
}

  .hero-section-img {
    width: 100%;
  }

  .hero-section-img img {
    width: 100%;
    height: auto;
  }
}