
:root {
    --primary-1: #75BF7A;
    --primary-2: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy', sans-serif;
}

/* nav bar css start */

header {
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
}

nav {
    height: 174px;
    display: flex;
}
nav img {
    width: 180px;
    height: 51px;
    margin: 85px 0px 38px 80px;
}

.nav-links {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 27%;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style: none;
    margin-top: 100px;
    margin-bottom: 51px;
    padding-right: 46px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-style: Medium;
    font-size: 17.16px;
    line-height: 100%;
    transition: 0.30s;
}

.nav-links ul li a:hover {
    color: var(--primary-1);
}

button {
    width: 182px;
    height: 50px;
    border: none;
    border-radius: 5.95px;
    margin-top: 50px;
    margin-left: 1px;
    background-color: var(--primary-1);
    color: var(--primary-2);
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    padding: 12px 27px 11px 28px;
}

.nav-links span  {
    display: none;
}



/* nav bar css end */


/* hero section css start  */

.hero-section {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
}

.hero-section-text,
.hero-section-img {
    flex: 1 1 400px;
}

.hero-section-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-text h2 {
    width: 557px;
    margin-top: 70px;
    margin-left: 80px;
    font-size: 50.73px;
    font-weight: 700;
    font-style: ExtraBold;
    line-height: 65.91px;
}

.hero-section-text p {
    width: 548px;
    margin-top: 27px;
    margin-left: 80px;
    font-size: 24px;
    font-style: Medium;
    font-weight: 500;
    line-height: 28px;
    color: #9E9DA2;
}

.btn-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 35px;
}

.btn-box button {
    width: 235px;
    height: 66.77px; 
    background-color: #000000;
}

.i-set1 {
    width: 30.78px;
    margin-right: 10px;
    font-size: 27px;
}

.i-set1 span , .i-set2 span {
    font-weight: 800;
    font-style: ExtraBold;
}

.i-set2 {
    width: 41px;
    margin-right: 10px;
    font-size: 27px;
}

.hero-section-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-img img {
    width: 75.4%;
    height: auto;
    margin-top: 54.83px;
}

/* hero section css end  */

/* green section css start */


.container-search {
    width: 89%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-1);
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

/* .container-search .text {
    width: 26%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

.container-search p {
    width: 245px;
    height: 56px;
    font-size: 24.6px;
    font-weight: 600;
    font-style: Semibold;
    line-height: 28px;
    color: var(--primary-2);
}

.container-search .search {
    width: 74%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search input {
    width: 60%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4.39px;
    margin-left: 20px;
}

.search input::placeholder {
    color: #DADADA;
}

.search button {
    width: 250px;
    height: 67px;
    border-radius: 4.39px;
    margin-bottom: 48px;
    margin-right: 28px;
    background-color: #000000;

}

/* green section end end */


.work-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 87.91px;
    background-color: cadetblue;
}

.work-section h2 {
    margin-top: 20px;
    font-size: 43.39px;
    font-weight: 800;
    line-height: 50.35px;
}

.work-section h2 span {
    color: var(--primary-1);
}

.work-section p {
    width: 45%;
    height: 96px;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #9E9DA2;
}

.item-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

.item-container .item1 {
    width: 33.33%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.item1 .text1 {
    width: 100%;
    height: 50%;
    background-color: red;
}

.item1 .text1 img {
    width: 60.82px;   
}

.item1 .text1 h4 {

}

.item1 .text2 {
    width: 100%;
    height: 50%;
    background-color: plum;
}

.item-container .item2 {
    width: 33.33%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
}

.item2 .circle {
    width: 400px;
    height: 400px;
    background-color: var(--primary-1);
    border-radius: 50%;

}

.item-container .item3 {
    width: 33.33%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}


.item3 .text1 {
    width: 100%;
    height: 50%;
    background-color: yellow;
}

.item3 .text2 {
    width: 100%;
    height: 50%;
    background-color: palevioletred;
}











































































@media (min-width: 1025px) and (max-width: 1166px) {

    .nav-links ul li {
    padding-right: 30px;
 }

   .nav-links ul li a {
    font-weight: 549 ;
    font-style: Medium;
    font-size:  14.24px;
    line-height: 100%;
 }

   button {
    font-weight: 500;
    font-size: 22px;
 }

 .btn-box {
    max-width: 76%;
    margin-left: 0px;
}

}


@media (min-width: 768px) and (max-width: 1024px) {

   .nav-links ul ,  .nav-links button {
    display: none;
    }

  .nav-links span  {
    display: block;
    margin-top: 60px;
  }

  .btn-box {
    max-width: 58%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

   .container-search {
    
  }

   .container-search p {
    margin-top: 5%;
  }

  .container-search .search {
    width: 95%;
  }

  .container-search .search input {
    width: 45%;
  }

}

@media (min-width: 0px) and (max-width: 767px) {

    .nav-links ul ,  .nav-links button {
    display: none;
    }

   .nav-links span  {
    display: block;
    margin-top: 60px;
  }

   .hero-section-text , .hero-section-img {
    flex:0 0 100%;
  }

  .btn-box {
    max-width: 40%;
    display: flex;
    flex-wrap: wrap;
  }

  .hero-section-img {
    width: 100%;
  }

  .hero-section-img img {
    width: 100%;
    height: auto;
  }

  .container-search {
    width: 100%;
  }

  .container-search p {
    margin-top: 10%;
  }

  .search {
    display: flex;
    flex-direction: column;
  }

  .search input {
    margin-top: 10%;
  }
}